@page
@model GeoprofsXyn.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Back to full list</a>
        </p>
    </div>    
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Team)
            </th>
            <th>
                <a asp-page="./Index" asp-route-soortOrder="@Model.NaamSort" asp-route-currentfilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Users[0].Naam)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Wachtwoord)
            </th>
            <th>
                <a asp-page="./Index" asp-route-soortOrder="@Model.DatumSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Users[0].VerlofUren)
                    </a>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wachtwoord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerlofUren)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisable = !Model.Users.HasPreviousPage ? "disabled" : "";
    var nextDisable = !Model.Users.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
    asp-route-soortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Users.PageIndex -1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @prevDisable">
    Previous
</a>  
<a asp-page="./Index"
    asp-route-soortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.Users.PageIndex +1)"
    asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @nextDisable">
    Next
</a>  
